@{
    ViewBag.Title = "Chào hỏi";
}

<h2>Nhập họ tên</h2>

<form method="post" action="/Hello/Index">
    <label>Họ tên:</label><br />
    <input type="text" name="fullName" />
    <br /><br />
    <button type="submit">Gửi</button>
</form>

@if (ViewBag.Message != null)
{
    <h3 style="margin-top:15px;">@ViewBag.Message</h3>
}
